/*Temporary, just for testing purposes*/

#manage-window {
  display: none;
}

/*CSS variables used to provide the two themes*/
/*The variables in :root are the defualt, dark mode, variables, and the ones in [data-theme="light"] are for light mode, and must be enabled via JS*/
:root {
  --text-col: #ffffff;
  --text-col-muted: #DDDDDD;
  --red-col: #DC3522;
  --main-bg: #1E1E20;
  --highlight-bg: #374140;
  --highlight-bg2: #2A2C2B;
}


[data-theme="light"] {
  --text-col: #37373a;
  --text-col-muted: #473232;
  --red-col: #ff6d5d;
  --main-bg: #f6f6f6;
  /* --highlight-bg: #e2e2e2;
  --highlight-bg2: #bfc2c2; */
  --highlight-bg: #bfc2c2;
  --highlight-bg2: #e2e2e2;

}

/*CSS applied to everything, mostly just setting defualt margin and padding, and setting the font to poppins*/
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--highlight-bg) var(--highlight-bg2);
  scrollbar-width: thin;
  color: var(--text-col)
}


/*CSS to style the scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 5px;
  background-color: var(--highlight-bg2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--highlight-bg);
  border-radius: 5px;
}

body {
  background-color: var(--main-bg);
  display: flex;
  height: 100%;

}

/*genreic styling for inputs, mostly removing some ugly defualt styles*/
/*note that -webkit-appearance:none; is nescesary to deal with weirdness on safari*/
input {
  border: none;
  outline: none;
  font-family: inherit;
  margin-top: 10px;
  -webkit-appearance: none;
}

/*Styling for text inputs*/
input[type=text] {

  background-color: var(--highlight-bg);
  padding: 10px 10px 10px 20px;
  color: var(--text-col);
  font-size: 2em;
  border-radius: 1.5em
}

/*Styling the placeholder text  inside text-inputs*/
::placeholder {
  color: var(--text-col-muted);
}
/*Styling for _main-heading_*/
h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 900;

}

.modal-bg{
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  backdrop-filter: blur(5px) brightness(0.7); 
  display: none;
}

.modal{
  padding: 20 50 20 50;
  background-color: var(--main-bg);
  margin: auto auto; /* 15% from the top and centered */
  border: 1px none #888;
  border-radius: 50px;
  min-height: 500px;
  min-width: 500px;
  max-width: 800px;
    max-height:80%;
      display: flex;
    flex-direction: column;
    flex-grow:1;
}
.modal button{
align-self: center;
}
.modal input[type=text]{
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header>h2 {
  font-size: 3em;
}

.modal-header >span {
  font-size: 2em;
  float: right;

}

/*_Used on Lanidng page, signup page, and login page to center items and keep things centered. Uses Flexbox for layout purposes*/
.center-container {
  margin: auto;
  justify-self: center;
  align-self: center;
  flex-grow: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 800px;
  align-content: center;
}
/*Styling for the login and signup forms*/

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.center-container .main-button {
  align-self: center;

}
/*Main button used thoruhgout the website*/
/*Note that this class can bea dded to "a" elements, input elements, and button elements*/

.small-button,.main-button{
  border: none;
  background-color: var(--red-col);
  text-decoration: none;
  border-radius: 1.5em;
  font-weight: 900;
  text-align: center;

}

.main-button {
  font-size: 3em;
  min-width: 300px;
  margin: 10px 0px 0px 0px;
}

.small-button{
  font-size: 1em;
  min-width: 100px;
  padding: 2px 5px 2px 5px;

}
.small-indicator{
  border: var(--red-col) solid 3px;
  background-color: var(--main-bg);
  text-decoration: none;
  border-radius: 1.5em;
  font-weight: 900;
  font-size: 1em;
  min-width: 100px;
  text-align: center;
  align-self: center;
  padding: 2px 5px 2px 5px;

}




@media (max-width: 800px) {

  .main-window,
  .side-window {
    width: 100% !important;
  }

  .side-window {
    display: none !important;
  }

  .chat-header>span {
    display: inline-block !important;
  }
}


.chat-header,.side-header {
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--text-col);
  display:flex;
  justify-content:space-between;
}

.chat-header>h2 ,.side-header>h2 {
  font-size: 2em;
  display: inline-block;
}



.side-header>button {
  align-self: center;
}


.close {
    align-self:center;
    height:2em;
    width:2em;
    stroke:var(--red-col);
    stroke-width:20;
    stroke-linecap:round;
}

.chat-header>.close {
  float:right;
  display: none;
}

.main-window,.side-window {
  padding: 0em 1em 1em 1em;

  width: 70%;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.main-window {width: 70%;}
.side-window {width: 30%;}


.chat-descriptor {
  display: flex;
  padding: 2px 0px 2px 0px;
  font-size: 1.5em;

}

.chat-descriptor>p {
  display: inline;
  margin-right: auto;

}


/*Styling for notification bubbles*/
.chat-descriptor>span {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  text-align: center;
  background-color: var(--red-col);
  font-weight: 900;
}


.chat {
  flex-grow: 1;
  overflow-y: scroll;
}

.message>span>time {
  color: var(--text-col-muted);
  font-size: 0.8em;
  padding: 0 5px 0 5px;
}

.message>span>b {
  color: hsl(1, 60%, 50%);
}

.message>span {
  display: flex;
  align-items: center;
}

.user-message {
  justify-content: flex-end;
  text-align: right;
}

.user-message>span {
  justify-content: flex-end;
}

.user-message>span>b {
  order: 2;
  color: hsl(120, 60%, 50%);
}

.message-box {
  display: flex;
  padding: 10px 10px 10px 20px !important;
  border-radius: calc(0.5em + 20px) !important;
  background-color: var(--highlight-bg);
}

.message-box>input {
  background-color: transparent;
  margin-top: 0px !important;
  flex-grow: 2;
  padding: 0px !important;
  font-size: 1em !important;
}

.message-box>button {
  background-color: transparent;
    height: 100%;
    width: 2em;
}

.side-bottom {
  border-top: var(--text-col) solid 1px;
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  padding: 10px 0px 0px 0px;
  margin-top: auto;
}



.display-box {
  background-color: var(--highlight-bg2);
  border-radius: 20px;
  margin-top: 10px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y:hidden;

}
.members{
  overflow-y: scroll;
  height: auto;
  display: flex;
  flex-direction: column;
}
.members span{
  padding: 4px ;
  display: flex;
  justify-content:space-between;
}

.members  b{
  font-size: 1.5em;
}
.main-window  .main-button{
  align-self: flex-start;
}


.display-box .main-button{
margin-top:auto;
}

/*SVG styling*/
circle {
  fill: var(--text-col);
}

.message-box svg {
  fill: var(--text-col);
}